<div class="container">
	<h1>{{title}}</h1>
    <h2>Welcome</h2>
    <p>
        This is a live demo of my Angular 2.0 demo / sample components & etc.
    </p>
    <p>
        I hope you will find these <a [routerLink]="['/demos']">demos</a> useful and educational. Stay tuned for more progress soon.
        Don't hesitate to tweet me at @narainsagar with suggestions for more components.
    </p>
    <p>
        The source code for the full set of components is available on <a href="https://github.com/narainsagar/angular2-demos">GitHub</a>
    </p>

    <p>
    	Visit my <a href="http://www.narainsagar.com">personal website </a> for more about me. 
    </p>
</div>